@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?1ygasn');
  src:  url('fonts/icons.eot?1ygasn#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?1ygasn') format('truetype'),
    url('fonts/icons.woff?1ygasn') format('woff'),
    url('fonts/icons.svg?1ygasn#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-bulb-fill:before {
  content: "\e900";
}
._icon-email-fill:before {
  content: "\e901";
}
._icon-live-camera-fill:before {
  content: "\e902";
}
._icon-medal-fill:before {
  content: "\e903";
}
._icon-radio-fill:before {
  content: "\e904";
}
._icon-tools-fill:before {
  content: "\e905";
}
._icon-user-fill:before {
  content: "\e906";
}
._icon-warning-fill:before {
  content: "\e907";
}
._icon-info-circle:before {
  content: "\e908";
}
._icon-ShapeOnly-I:before {
  content: "\e909";
}
._icon-dollar-empty:before {
  content: "\e90a";
}
._icon-globe-empty:before {
  content: "\e90b";
}
._icon-handshake-empty:before {
  content: "\e90c";
}
._icon-heart-empty:before {
  content: "\e90d";
}
._icon-map-pin-empty:before {
  content: "\e90e";
}
._icon-mic-empty:before {
  content: "\e90f";
}
._icon-save-empty:before {
  content: "\e910";
}
._icon-share-empty:before {
  content: "\e911";
}
._icon-tag-empty:before {
  content: "\e912";
}
._icon-dollar-fill:before {
  content: "\e913";
}
._icon-globe-fill:before {
  content: "\e914";
}
._icon-handshake-fill:before {
  content: "\e915";
}
._icon-heart-fill:before {
  content: "\e916";
}
._icon-map-pin-fill:before {
  content: "\e917";
}
._icon-mic-fill:before {
  content: "\e918";
}
._icon-save-fill:before {
  content: "\e919";
}
._icon-share-fill:before {
  content: "\e91a";
}
._icon-tag-fill:before {
  content: "\e91b";
}
._icon-book-empty:before {
  content: "\e91c";
}
._icon-cart-empty:before {
  content: "\e91d";
}
._icon-chat-empty:before {
  content: "\e91e";
}
._icon-clock-empty:before {
  content: "\e91f";
}
._icon-delete-empty:before {
  content: "\e920";
}
._icon-facebook-empty:before {
  content: "\e921";
}
._icon-google-empty:before {
  content: "\e922";
}
._icon-instagram-empty:before {
  content: "\e923";
}
._icon-linkedin-empty:before {
  content: "\e924";
}
._icon-play-empty:before {
  content: "\e925";
}
._icon-question-empty:before {
  content: "\e926";
}
._icon-star-empty:before {
  content: "\e927";
}
._icon-ticket-empty:before {
  content: "\e928";
}
._icon-twitter-empty:before {
  content: "\e929";
}
._icon-book-fill:before {
  content: "\e92a";
}
._icon-cart-fill:before {
  content: "\e92b";
}
._icon-chat-fill:before {
  content: "\e92c";
}
._icon-clock-fill:before {
  content: "\e92d";
}
._icon-delete-fill:before {
  content: "\e92e";
}
._icon-facebook-fill:before {
  content: "\e92f";
}
._icon-google-fill:before {
  content: "\e930";
}
._icon-instagram-fill:before {
  content: "\e931";
}
._icon-linkedin-fill:before {
  content: "\e932";
}
._icon-play-fill:before {
  content: "\e933";
}
._icon-question-fill:before {
  content: "\e934";
}
._icon-star-fill:before {
  content: "\e935";
}
._icon-ticket-fill:before {
  content: "\e936";
}
._icon-twitter-fill:before {
  content: "\e937";
}
._icon-bicycle-empty:before {
  content: "\e938";
}
._icon-calendar-empty:before {
  content: "\e939";
}
._icon-car-empty:before {
  content: "\e93a";
}
._icon-cup-empty:before {
  content: "\e93b";
}
._icon-edit-empty:before {
  content: "\e93c";
}
._icon-eye-empty:before {
  content: "\e93d";
}
._icon-flash-empty:before {
  content: "\e93e";
}
._icon-lock-empty:before {
  content: "\e93f";
}
._icon-notification-empty:before {
  content: "\e940";
}
._icon-phone-empty:before {
  content: "\e941";
}
._icon-rocket-empty:before {
  content: "\e942";
}
._icon-shopping-bag-empty:before {
  content: "\e943";
}
._icon-bicycle-fill:before {
  content: "\e944";
}
._icon-calendar-fill:before {
  content: "\e945";
}
._icon-car-fill:before {
  content: "\e946";
}
._icon-cup-fill:before {
  content: "\e947";
}
._icon-edit-fill:before {
  content: "\e948";
}
._icon-eye-fill:before {
  content: "\e949";
}
._icon-flash-fill:before {
  content: "\e94a";
}
._icon-lock-fill:before {
  content: "\e94b";
}
._icon-notification-fill:before {
  content: "\e94c";
}
._icon-phone-fill:before {
  content: "\e94d";
}
._icon-rocket-fill:before {
  content: "\e94e";
}
._icon-shopping-bag-fill:before {
  content: "\e94f";
}
._icon-truck-fill:before {
  content: "\e950";
}
._icon-sort-ascending:before {
  content: "\e951";
}
._icon-sort-descending:before {
  content: "\e952";
}
._icon-checkbox-circle-fill .path1:before {
  content: "\e953";
  color: rgb(34, 34, 34);
}
._icon-checkbox-circle-fill .path2:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
._icon-checkbox-square-fill .path1:before {
  content: "\e955";
  color: rgb(34, 34, 34);
}
._icon-checkbox-square-fill .path2:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
._icon-equalizer-fill:before {
  content: "\e957";
}
._icon-filter-fill:before {
  content: "\e958";
}
._icon-search-zoom-in-fill:before {
  content: "\e959";
}
._icon-search-zoom-out-fill:before {
  content: "\e95a";
}
._icon-checkbox-circle-empty:before {
  content: "\e95b";
}
._icon-checkbox-square-empty:before {
  content: "\e95c";
}
._icon-equalizer-empty:before {
  content: "\e95d";
}
._icon-filter-empty:before {
  content: "\e95e";
}
._icon-search-zoom-in-empty:before {
  content: "\e95f";
}
._icon-search-zoom-out-empty:before {
  content: "\e960";
}
._icon-arrow-down-normal:before {
  content: "\e961";
}
._icon-arrow-down-small:before {
  content: "\e962";
}
._icon-arrow-down-xs:before {
  content: "\e963";
}
._icon-arrow-left-normal:before {
  content: "\e964";
}
._icon-arrow-left-small:before {
  content: "\e965";
}
._icon-arrow-left-xs:before {
  content: "\e966";
}
._icon-arrow-right-normal:before {
  content: "\e967";
}
._icon-arrow-right-small:before {
  content: "\e968";
}
._icon-arrow-right-xs:before {
  content: "\e969";
}
._icon-arrow-up-normal:before {
  content: "\e96a";
}
._icon-arrow-up-small:before {
  content: "\e96b";
}
._icon-arrow-up-xs:before {
  content: "\e96c";
}
._icon-double-left:before {
  content: "\e96d";
}
._icon-double-right:before {
  content: "\e96e";
}
._icon-single-left:before {
  content: "\e96f";
}
._icon-single-right:before {
  content: "\e970";
}
._icon-add:before {
  content: "\e971";
}
._icon-bagpipes:before {
  content: "\e972";
}
._icon-check:before {
  content: "\e973";
}
._icon-close:before {
  content: "\e974";
}
._icon-dj-mixer:before {
  content: "\e975";
}
._icon-guitar:before {
  content: "\e976";
}
._icon-hamburger-menu:before {
  content: "\e977";
}
._icon-reset:before {
  content: "\e978";
}
._icon-saxophone:before {
  content: "\e979";
}
._icon-search:before {
  content: "\e97a";
}
._icon-subtract:before {
  content: "\e97b";
}
._icon-trumpet:before {
  content: "\e97c";
}
