// General
$general-light: #FFFFFF;
$general-dark: #222222;
$general-light-red: #FFA3A3;
$general-red: #FC5252;
$general-blue: #381DDB;

// Additional
$additional-1: #E0E0E0;
$additional-2: #DB841D;
$additional-3: #AA6550;
$additional-4: #C00096;
$additional-5: #FFCDCD;
$additional-6: #FFBE9D;
$additional-7: #84C4FF;